html,
body {
  font-family: Panton-Regular;
  font-size: 14px;
}
/* Cancel chrome outline on focus */
*:focus {
  outline: 0 !important;
}
.btn {
  border-radius: 0 !important;
}
.form-container {
  position: relative;
  width: 300px;
  margin: 60px auto;
}
.form-container:before {
  position: absolute;
  top: -50px;
  left: -40px;
  display: block;
  width: 70px;
  height: 3px;
  content: '';
  background: #c10012;
  z-index: 2;
}
.form-container:after {
  position: absolute;
  bottom: -50px;
  left: -40px;
  display: block;
  width: 70px;
  height: 3px;
  content: '';
  background: #c10012;
  z-index: 2;
}
.main-title-container {
  position: relative;
  text-align: center;
}
.main-title-container > img {
  min-height: 170px;
}
.main-title {
  font-family: Panton-RegularItalic;
  font-size: 22px;
  position: absolute;
  top: 44%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.main-title:before {
  position: absolute;
  top: -60px;
  left: 50%;
  display: inline-block;
  margin-left: -35px;
  width: 70px;
  height: 3px;
  content: '';
  background: #c10012;
}
.phone {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  padding: 0 15px;
  font-family: 'Panton-BoldItalic';
}
.main-title:after {
  position: absolute;
  right: 50%;
  bottom: -50px;
  display: inline-block;
  margin-right: -35px;
  width: 70px;
  height: 3px;
  content: '';
  background: #c10012;
}
.link-forgot {
  text-align: center;
}
.link-forgot a {
  color: #c10012;
}
.logo-top-left {
  float: left;
  padding: 12px 15px;
}
.logo-top-right {
  float: right;
  padding: 15px;
  color: #c10012;
}
.logo-top-right:focus,
.logo-top-right:hover {
  color: #c10012;
}
[countdown] {
  min-width: 37px;
  display: inline-block;
}
.main-title-container > img {
  width: 100%;
}
.form-header {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(193, 0, 18, 0.6);
}
.modal-dialog {
  width: 300px;
}
.button-red {
  background-color: #c10012;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button-red[disabled] {
  background-color: #c10012;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button-red:hover,
.button-red:active,
.button-red:focus,
.button-red:active:hover {
  background-color: #c10012;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ad0010 !important;
}
.close-cross {
  color: #c10012;
}
.close {
  color: #c10012 !important;
  font-size: 30px;
  opacity: 1;
}
.terminal-name {
  font-size: 1.4em;
  padding-right: 20px;
}
.media-object {
  margin: 10px;
}
.label-required {
  color: #c10012;
}
.star-required {
  font-size: 1.3em;
}
.bg-pad {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #f2f2f2;
  overflow: hidden;
}
.bg-pad:before {
  content: '';
  width: 64%;
  height: 12%;
  background: #fff;
  transform: rotate(8deg);
  position: absolute;
  bottom: -6%;
  left: -14%;
}
.bg-pad:after {
  content: '';
  width: 64%;
  height: 12%;
  background: #fff;
  transform: rotate(-8deg);
  position: absolute;
  bottom: -6%;
  right: -14%;
}
.details-header,
.details-title,
.info-title {
  border-bottom: 1px solid rgba(193, 0, 18, 0.6);
}
input {
  border-radius: 0 !important;
  border-color: #c10012 !important;
}
.deny {
  line-height: 100px;
  text-align: center;
  height: 100px;
}
.docs-table-container {
  position: relative;
  min-height: 100px;
}
.docs-table-container .docs-table td {
  vertical-align: middle;
}
.news-table-container {
  position: relative;
  min-height: 100px;
}
.checkbox-custom {
  width: 80px;
  height: 26px;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  border: 1px solid rgba(119, 119, 119, 0.6);
  background-color: #fff;
}
.checkbox-custom:after {
  content: 'OFF';
  color: #777;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.checkbox-custom:before {
  content: 'ON';
  color: #c10012;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.checkbox-custom label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  background: #777;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.checkbox-custom input[type=checkbox] {
  visibility: hidden;
}
.checkbox-custom input[type=checkbox]:checked + label {
  left: 42px;
}
.image-in-title {
  max-height: 50px;
  margin: 5px 30px 5px 5px;
}
#editServicesTable .service-name {
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
#editServicesTable .media-body {
  width: auto;
}
#editServicesTable .border-top-left-transparent {
  border-left-color: transparent;
  border-top-color: transparent;
}
.info-docs .download-link {
  font-size: 1.5em;
  margin-left: 10px;
}
.terminal-info > ul {
  margin-bottom: 20px;
}
.terminal-info li ul li {
  margin: 10px 0;
}
.limiter {
  position: relative;
}
.limiter:before {
  position: absolute;
  z-index: 2;
  top: -50px;
  left: -40px;
  display: block;
  width: 70px;
  height: 3px;
  content: '';
  background: #c10012;
}
.limiter:after {
  position: absolute;
  z-index: 2;
  bottom: -50px;
  left: -40px;
  display: block;
  width: 70px;
  height: 3px;
  content: '';
  background: #c10012;
}
.info-section {
  font-size: 16px;
  line-height: 1.5em;
  position: absolute;
  top: 0;
  left: -300px;
  width: 200px;
}
.info-section-title {
  padding: 0 0 52px 0;
}
