<!doctype html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <title>Forgot password</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/panel/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/panel/fonts/MyFontsWebfontsKit.css">
  <link rel="stylesheet" href="/panel/styles/main.css">
  <link rel="stylesheet" href="/panel/styles/panel.css">
</head>

<body ng-app="forgotPasswordApp" ng-controller="ForgotPasswordCtrl">
  <!-- preloader -->
  <div id="preloader" ng-if="loading" class="preloader fade-custom">
    <img class="wheel" src="/panel/images/ajax_loader_gray_64.gif" alt="Preloader">
  </div>
  <!-- /.preloader -->
  <div class="bg-pad"></div>
  <div id="header" class="header">
    <div class="container">
      <a class="logo-top-left" href="/panel/">
        <img src="/panel/images/logo-m_platform24.png" alt="Ikona m_platform" height="26">
      </a>
      <a class="logo-top-right" href="http://mplatform.com.pl/">Powrót na stronę główną</a>
      <!-- <a class="logo-top-right" href="">
        <img src="/panel/images/logo-logowanie_m_platform24.png" alt="Ikona m_platform" height="20">
      </a> -->
    </div>
  </div>
  <div class="main-title-container">
    <img src="/panel/images/bg_main_title.png" alt="bg_main_title">
    <div class="main-title">PRZYPOMNIJ HASŁO</div>
  </div>
  <div class="form-container fade-custom">
    <div class="form-body fade-custom clearfix" ng-if="!sendSuccess && !errorStatus">
      <form name="forgotPasswordForm" class="fade-custom">
        <div class="form-group">
          <input ng-model="userData.email" type="email" class="form-control" name="email" placeholder="Twój email" required>
        </div>
        <!-- msg area -->
        <div ng-messages="forgotPasswordForm.email.$error" class="msg-area" ng-show="forgotPasswordForm.email.$dirty">
          <div ng-message="required">Required</div>
        </div>
      </form>
      <div class="button-group pull-right">
        <button type="reset" class="btn btn-default" ng-click="resetForm()">Anuluj</button>
        <button type="submit" class="btn btn-primary button-red" ng-click="forgotPasswordFormSubmit(userData)" ng-disabled="forgotPasswordForm.$invalid">Zapisz</button>
      </div>
    </div>
    <!-- Success message -->
    <div class="fade-custom" ng-if="sendSuccess">
      Success. Plese check Your email.
    </div>
    <!-- Error messages -->
    <div class="msg-area fade-custom">
      <div class="msg" ng-if="errorStatus == 400">
        Email address not specified.
      </div>
      <div class="msg" ng-if="errorStatus == 404">
        Email address not found.
      </div>
      <div class="msg" ng-if="errorStatus == 500">
        Internal Server Error.
      </div>
      <div class="msg" ng-if="errorStatus == 'error'">
        Error.
      </div>
    </div>
    <div class="info-section limiter">
      <span>
      Jeżeli masz problem z logowaniem lub przypomnieniem hasła
      skontaktuj się z naszym działem obsługi klienta:
                <br>
                T: +48 22 290 70 10
                <br>
                E: info@mplatform.com.pl
              </span>
    </div>
  </div>
  <!-- Scripts -->
  <script src="/panel/bower_components/jquery/dist/jquery.js"></script>
  <script src="/panel/bower_components/angular/angular.js"></script>
  <script src="/panel/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/panel/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/panel/bower_components/angular-messages/angular-messages.js"></script>
  <!--  -->
  <script src="forgotPasswordApp.js"></script>
</body>

</html>
