<!doctype html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <title>Activate account</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/panel/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/panel/
fonts/MyFontsWebfontsKit.css">
  <link rel="stylesheet" href="/panel/styles/main.css">
  <link rel="stylesheet" href="/panel/styles/panel.css">
</head>

<body ng-app="activateAccountApp" ng-controller="ActivateAccountCtrl" ng-init="tokenCheck()">
  <!-- preloader -->
  <div id="preloader" ng-if="loading" class="preloader fade-custom">
    <img class="wheel" src="/panel/images/ajax_loader_gray_64.gif" alt="Preloader">
  </div>
  <!-- /.preloader -->
  <div class="bg-pad"></div>
  <div id="header" class="header">
    <div class="container">
      <a class="logo-top-left" href="/panel/">
        <img src="/panel/images/logo-m_platform24.png" alt="Ikona m_platform" height="26">
      </a>
      <!-- <a class="logo-top-right" href="">
        <img src="/panel/images/logo-logowanie_m_platform24.png" alt="Ikona m_platform" height="20">
      </a> -->
    </div>
  </div>

  <div class="main-title-container">
    <img src="/panel/images/bg_main_title.png" alt="bg_main_title">
    <div class="main-title">ACTIVATE ACCOUNT</div>
  </div>
  <div class="form-container">
    <div class="form-body clearfix" ng-if="tokenValidStatus == 'valid' && !activateSuccess">
      <form name="activateAccountForm" class="fade-custom">
        <div class="form-group">
          <input ng-model="userData.newPassword" type="password" class="form-control" name="newPassword" placeholder="nowe hasło" required pw-length pw-capital pw-number pw-special pw-match>
        </div>
        <!-- message area -->
        <div ng-messages="activateAccountForm.newPassword.$error" class="msg-area" role="alert" ng-show="activateAccountForm.newPassword.$dirty">
          <div ng-message="required">Required</div>
          <div ng-message="pwLength" class="msg">Hasło musi zawierać co najmniej
            <ng-pluralize count="passwordConfig.minLength" when="{'0': '{} znaków',
                         '2': '{} znaki',
                         '3': '{} znaki',
                         '4': '{} znaki',
                         'one': '{} znak',
                         'other': '{} znaków'}">
            </ng-pluralize>
          </div>
          <div ng-message="pwCapital" class="msg">Hasło musi zawierać co najmniej {{passwordConfig.minCapital}} wielką literę</div>
          <div ng-message="pwNumber" class="msg">Hasło musi zawierać co najmniej {{passwordConfig.minNumbers}} cyfrę</div>
          <div ng-message="pwSpecial" class="msg">Hasło musi zawierać co najmniej {{passwordConfig.minSpecial}} znak specjalny</div>
          <div ng-message="pwMatch" class="msg">Hasła nie zgadzają się</div>
        </div>
        <!-- /.message area -->
        <div class="form-group">
          <input ng-model="userData.confirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="potwierdź nowe hasło" required pw-match>
        </div>
        <!-- message area -->
        <div ng-messages="activateAccountForm.confirmPassword.$error" class="msg-area" role="alert" ng-show="activateAccountForm.confirmPassword.$dirty">
          <div ng-message="pwMatch" class="msg">Hasła nie zgadzają się</div>
        </div>
        <!-- /.message area -->
      </form>
      <div class="button-group pull-right">
        <button type="reset" class="btn btn-default" ng-click="resetForm(activateAccountForm)">Anuluj</button>
        <button type="submit" class="btn btn-primary button-red" ng-click="activateAcountFormSubmit(userData)" ng-disabled="activateAccountForm.$invalid">Zapisz</button>
      </div>
    </div>
    <!-- Message -->
    <div class="fade-custom" ng-show="tokenValidStatus == 'valid' && activateSuccess">
      Password successfully changed.
    </div>
    <!-- Error message -->
    <div ng-if="!activateSuccess">
      <div ng-show="tokenValidStatus == 'incorrect'">
        This link does not have token or token is incorrect.
      </div>
      <!-- Error message -->
      <div ng-show="tokenValidStatus == 'invalid'">
        Podany link aktywacyjny jest niepoprawny lub wygasł.
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <script src="/panel/bower_components/jquery/dist/jquery.js"></script>
  <script src="/panel/bower_components/angular/angular.js"></script>
  <script src="/panel/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/panel/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/panel/bower_components/angular-messages/angular-messages.js"></script>
  <!--  -->
  <script src="activateAccountApp.js"></script>
</body>

</html>
