<div class="container">
  <div class="col-sm-4 col-sm-offset-4">
    <h2>Login</h2>
    <form class="form-login" ng-submit="loginSubmit(userData)" name="loginForm">
      <div class="form-group">
        <input type="text" ng-model="userData.login" name="login" class="form-control" placeholder="Login" required autofocus/>
      </div>
      <div class="form-group">
        <input type="password" ng-model="userData.password" class="form-control" placeholder="Hasło" name="password" required/>
      </div>
      <div class="form-group pull-right">
        <label>Pamiętaj mnie</label>
        <input type="checkbox" ng-model="userData.remember" name="remember">
      </div>
      <div class="form-group">
        <button class="btn button-red btn-block" type="submit">Login</button>
      </div>
      <div class="form-group pull-right">
        <a href="">Nie pamiętasz hasła?</a>
      </div>
    </form>
  </div>
</div>
