<!doctype html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <title>M\platform</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/fonts/MyFontsWebfontsKit.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/panel.css">
  <!-- endbuild -->
</head>

<body ng-app="panelApp" ng-controller="MainCtrl as main">
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- preloader -->
  <div id="preloaderMain" ng-if="main.loading" class="preloader fade-custom">
    <img class="wheel" src="/images/ajax_loader_gray_64.gif" alt="Preloader">
  </div>
  <!-- /.preloader -->
  <div id="panel" ng-controller="PanelCtrl" ng-hide="main.loading" class="animate-custom">
    <!-- Header -->
    <div id="header" class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="logo-top-left" href="">
              <img alt="Ikona m_platform" src="/images/logo-m_platform24.png" height="26">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="phone"><span class="label-required">helpdesk:</span> <sup>T:</sup> 22 290 70 10</div>
              </li>
              <li class="dropdown">
                <a href="" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span>
                  <span>{{ merchant.login }}</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="" data-toggle="modal" data-target="#cahngePasswordModal">Zmień hasło</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="" ng-click="main.logout()">Wyloguj</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div ng-controller="ChangePasswordCtrl" class="modal fade" id="cahngePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Zmiana hasła</h4>
            </div>
            <div class="modal-body">
              <form ng-hide="passwordChanged || passwordIncorrect" name="changePasswordForm" class="fade-custom">
                <div class="form-group">
                  <input ng-model="userPassword.currentPassword" type="password" class="form-control" name="currentPassword" placeholder="aktualne hasło" required>
                </div>
                <!-- msg area -->
                <div class="form-group" ng-if="changePasswordForm.currentPassword.$dirty">
                  <div ng-show="changePasswordForm.currentPassword.$error.required">Wymagane</div>
                </div>
                <!-- /.msg area -->
                <div class="form-group">
                  <input ng-model="userPassword.newPassword" type="password" class="form-control" name="newPassword" placeholder="nowe hasło" required pw-length pw-capital pw-number pw-special pw-match form-name="changePasswordForm">
                </div>
                <!-- msg area -->
                <div ng-messages="changePasswordForm.newPassword.$error" class="msg-area" role="alert" ng-show="changePasswordForm.newPassword.$dirty">
                  <div ng-message="required">Wymagane</div>
                  <div ng-message="pwLength" class="msg">Hasło musi zawierać co najmniej
                    <span ng-pluralize count="passwordConfig.minLength" when="{'0': '{} znaków',
                                 '2': '{} znaki',
                                 '3': '{} znaki',
                                 '4': '{} znaki',
                                 'one': '{} znak',
                                 'other': '{} znaków'}">
                    </span>
                  </div>
                  <div ng-message="pwCapital" class="msg">Hasło musi zawierać co najmniej {{passwordConfig.minCapital}} wielką literę</div>
                  <div ng-message="pwNumber" class="msg">Hasło musi zawierać co najmniej {{passwordConfig.minNumbers}} cyfrę</div>
                  <div ng-message="pwSpecial" class="msg">Hasło musi zawierać co najmniej {{passwordConfig.minSpecial}} znak specjalny</div>
                  <div ng-message="pwMatch" class="msg">Hasła nie zgadzają się</div>
                </div>
                <!-- /.msg area -->
                <div class="form-group">
                  <input ng-model="userPassword.confirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="potwierdź nowe hasło" required pw-match form-name="changePasswordForm">
                </div>
                <!-- msg area -->
                <div ng-messages="changePasswordForm.confirmPassword.$error" class="msg-area" role="alert" ng-show="changePasswordForm.confirmPassword.$dirty">
                  <div ng-message="pwMatch" class="msg">Hasła nie zgadzają się</div>
                </div>
                <!-- /.msg area -->
              </form>
              <!-- Success message -->
              <div class="fade-custom" ng-if="passwordChanged">
                Hasło zostało zmienione
              </div>
              <!-- Error message -->
              <div class="fade-custom" ng-if="passwordIncorrect">
                Nieprawidłowe stare hasło
              </div>
            </div>
            <div ng-hide="passwordChanged || passwordIncorrect" class="modal-footer">
              <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="resetForm()">Anuluj</button>
              <button type="submit" class="btn btn-primary button-red" ng-click="changePasswordFormSubmit(userPassword)" ng-disabled="changePasswordForm.$invalid">Zapisz</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Header -->
    <!-- Main -->
    <div class="container">
      <!-- Terminals/Services -->
      <div class="row chlds-eq-height">
        <!-- Terminals -->
        <div class="terminals frame col-sm-5">
          <ul class="list-group">
            <li class="list-group-item" ng-class="{'selected': currentTerminal == terminal}" ng-repeat="terminal in terminals" ng-click="setCurrentTerminal(terminal)">
              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="/images/logo-kasa.png" alt="Ikona kasa" height="50">
                </div>
                <div class="media-body">
                  <span class="media-heading terminal-name">{{ terminal.name}}</span>
                  <span class="text-muted">{{ terminal.number}}</span>
                  <h6 class="text-muted">
                        <ng-pluralize count="terminal.services.length"
                          when="{'0': '{} usług',
                                 '2': '{} uslugi',
                                 '3': '{} uslugi',
                                 '4': '{} usługi',
                                 'one': '{} usługa',
                                 'other': '{} usług'}">
                        </ng-pluralize>
                      </h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- Services -->
        <div class="services frame col-sm-6 col-sm-offset-1 clearfix">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Usługa</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Liczba kas</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="service in services" ng-click="setCurrentService(service)">
                <td>{{ service.name }}</td>
                <td>{{ service.startDate}}</td>
                <td>{{ service.endDate}}</td>
                <td>{{ service.terminalCount}}</td>
              </tr>
            </tbody>
          </table>
          <button ng-click="setCurrentInfo('editServices')" type="button" class="btn btn-default pull-right">Zarządzaj usługami</button>
        </div>
        <!--  -->
      </div>
      <!-- Details section-->
      <div class="row">
        <div id="detailsContainer" ng-if="currentTerminal || currentService" class="frame col-sm-12 fade-custom">
          <!-- Terminal details-->
          <div class="details terminal-details row" ng-if="currentTerminal">
            <div class="col-sm-12">
              <div class="details-header">
                <h4>{{ currentTerminal.name }}</h4>
                <h6>{{ currentTerminal.number }}</h6></div>
            </div>
            <div class="terminal-info col-sm-6">
              <ul>
                <li>Aktywne usługi na terminalu: {{ currentTerminal.services.length }}
                  <ul>
                    <li ng-repeat="service in currentTerminal.services">{{ getFullServiceName(service) }}</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="terminal-actions col-sm-6">
              <form name="changeTerminalNameForm">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Zmień nazwę kasy <span class="label-required"><span class="star-required">*</span></span>
                    </label>
                  </div>
                  <div class="col-xs-7">
                    <input ng-model="newTerminalName" name="newTerminalName" type="text" class="form-control" placeholder="{{ currentTerminal.name }}" ng-maxlength="50" required>
                  </div>
                  <div class="col-xs-5">
                    <button type="submit" class="btn button-red" ng-click="changeTerminalName(newTerminalName)" ng-disabled="changeTerminalNameForm.$invalid">Zapisz</button>
                  </div>
                </div>
              </form>
              <!-- msg area -->
              <div class="error" ng-show="changeTerminalNameForm.newTerminalName.$error.maxlength">Wprowadzona wartość jest zbyt długa. Maksymalna długość 50.</div>
              <div class="fade-custom" ng-if="terminalNameChanged">Nazwa terminalu została zmieniona</div>
              <div class="label-required">
                <span class="star-required">*</span> Pole obowiązkowe
              </div>
              <!-- /.msg area -->
            </div>
          </div>
          <!-- /.terminal -->
          <!-- Service details-->
          <div class="details service-details" ng-if="currentService">
            <div ng-if="currentService.service == 'evoucher'">
              <img src="/images/doladowania.czarny.png" alt="Ikona evoucher" height="100">
              <h4 class="details-title">Doładowanie eVoucher</h4>
              <p>
                <p>Usluga daje możliwość zakupu doładowań prepaid, w szczególności telefonów komórkowych, w prosty sposób, bez konieczności posiadania kart doładowujących dla między innymi: Simplus, Orange, Play, T-mobile na kartę, Heyah, Halo Polsat, Paysafecard, Mobilking, Telegrosik, Tele24, Telepin, easyCall. Potwierdzeniem zakupu doładowania jest wydruk z kasy fiskalnej, na którym znajduje się kod doładowujący. Usługa doładowań dostarczona jest przez PayTel S.A.</p>
                <p>Kontakt z PayTel S.A. pod numerem telefonu: 801090108</p>
                <p>+48 18 521 18 00 - dla telefonów komórkowych</p>
              </p>
            </div>
            <div ng-if="currentService.service == 'epay'">
              <img src="/images/platnosc.kartowa.czarny.png" alt="Ikona epay" height="100">
              <h4 class="details-title">Płatności kartą (ePay)</h4>
              <p>
                <p>Usługa daje użytkownikowi możliwość zapłaty za towary i usługi kartą płatniczą VISA lub MasterCard z wykorzystaniem kasy fiskalnej firmy Novitus lub Elzab ołączonej z PIN-padem bez konieczności posiadania przez sprzedawcę terminala POS. Płatności kartą obsługiwane są przez PayTel S.A.</p>
                <p>Kontakt z PayTel S.A. pod numerem telefonu: 801090108</p>
                <p>+48 18 521 18 00 dla telefonów komórkowych </p>
              </p>
            </div>
          </div>
          <!-- /.service -->
          <span ng-click="hideDetails()" class="close-cross glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <!-- Info-buttons panel -->
      <div class="info-buttons row">
        <div class="col-sm-12 frame">
          <ul class="nav nav-pills nav-justified">
            <li><a href="/rules.html" target="_blank" class="btn button-red">Regulamin</a></li>
            <li><a href="" class="btn button-red" ng-click="setCurrentInfo('contacts')">Kontakt</a></li>
            <li><a href="" class="btn button-red" ng-click="setCurrentInfo('faq')">FAQ</a></li>
            <li><a href="" class="btn button-red" ng-click="setCurrentInfo('docs')">Dokumenty</a></li>
            <li><a href="" class="btn button-red" ng-click="setCurrentInfo('news')">Aktualności</a></li>
          </ul>
        </div>
      </div>
      <!-- Info section -->
      <div class="row">
        <div id="infoContainer" ng-if="currentInfo" class="frame col-sm-12 fade-custom">
          <!-- Edit-services info -->
          <div class="info info-edit-services" ng-if="currentInfo == 'editServices'" ng-controller="EditServicesFormCtrl">
            <h4 class="info-title">Zarządzaj usługami</h4>
            <form class="row" name="editServicesForm" ng-if="!editServicesFormSubmitted">
              <div class="col-sm-12">
                <table id="editServicesTable" class="table table-bordered table-hover">
                  <tr>
                    <td class="border-top-left-transparent">
                      Edit services on your terminals.
                    </td>
                    <td ng-repeat="terminal in terminals">
                      <div class="media">
                        <div class="media-left">
                          <img class="media-object hidden-xs" src="/images/logo-kasa.png" alt="Ikona kasa" height="50">
                        </div>
                        <div class="media-body">
                          <div class="media-heading terminal-name">{{ terminal.name}}</div>
                          <div class="text-muted">{{ terminal.number}}</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr ng-repeat="service in services">
                    <td class="service-name">
                      <span>{{service.name}}</span>
                    </td>
                    <td ng-repeat="terminal in terminals">
                      <!-- .checkbox-custom -->
                      <div class="checkbox-custom" ng-class="{'on': checkServices(terminal, service)}">
                        <input type="checkbox" id="{{terminal.id + service.service}}" name="checkBox" ng-click="toggleService($event, terminal)" ng-checked="checkServices(terminal, service)" type="checkbox" data-service="{{service.service}}" />
                        <label for="{{terminal.id + service.service}}"></label>
                      </div>
                      <!-- end .checkbox-custom -->
                      <!--                       <input ng-click="toggleService($event, terminal)" ng-checked="checkServices(terminal, service)" type="checkbox" data-service="{{service.service}}"> -->
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Twoja wiadomość</label>
                  <textarea class="form-control" rows="5" id="editServicesMessage" name="message" ng-model="editServicesMessage" required></textarea>
                </div>
                <!-- msg area -->
                <div ng-messages="editServicesForm.message.$error" class="msg-area" role="alert">
                  <div ng-message="required">Wymagane</div>
                </div>
                <!-- /.msg area -->
              </div>
              <div class="col-sm-12">
                <div class="button-group pull-right">
                  <button ng-click="resetEditServicesForm()" type="reset" class="btn btn-default">Anuluj</button>
                  <button ng-click="submitEditServicesForm(editServicesMessage)" ng-disabled="editServicesForm.$invalid" type="submit" class="btn button-red">Wyślij</button>
                </div>
              </div>
            </form>
            <!-- msg-area -->
            <div class="fade-custom" ng-if="editServicesFormSubmitted">Formularz został wysłany</div>
            <!-- /.msg-area -->
          </div>
          <!-- Contact info -->
          <div class="info info-contacts" ng-if="currentInfo == 'contacts'" ng-controller="ContactFormCtrl">
            <h4 class="info-title">Kontakt</h4>
            <form class="row" name="contactForm" ng-if="!contactFormSubmitted">
              <div class="col-sm-4">
                <div class="row form-group">
                  <div class="col-sm-12">
                    <label>Typ zgłoszenia</label>
                  </div>
                  <div class="col-sm-12">
                    <select class="form-control" ng-model="contactFormData.issue">
                      <option value="ISSUE" selected>Problem</option>
                      <option value="CHANGE-SERVICE">Zmiana usługi</option>
                      <option value="CHANGE-MERCHANT-DATA">Zmiana danych</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row form-group">
                  <div class="col-sm-12">
                    <label>Wybierz kasę</label>
                  </div>
                  <div class="col-sm-12">
                    <select class="form-control" ng-model="contactFormData.terminal">
                      <option value="" selected>Nie powiązane z kasą</option>
                      <option ng-repeat="terminal in terminals">{{ terminal.number }}</option>
                      <option>Wszystkie kasy</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row form-group">
                  <div class="col-sm-12">
                    <label>Wybierz usługę</label>
                  </div>
                  <div class="col-sm-12">
                    <select class="form-control" ng-model="contactFormData.service">
                      <option value="" selected>Nie powiązane z usługą</option>
                      <option ng-repeat="service in services">{{ service.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Twoja wiadomość <span class="label-required"><span class="star-required">*</span></span>
                  </label>
                  <textarea class="form-control" rows="5" ng-model="contactFormData.message" name="message" required></textarea>
                </div>
                <!-- msg area -->
                <div ng-messages="contactForm.message.$error" class="msg-area" role="alert" ng-show="contactForm.message.$dirty">
                  <div ng-message="required">Wymagane</div>
                </div>
                <!-- /.msg area -->
              </div>
              <div class="col-sm-5">
                <div class="row form-group">
                  <div class="col-sm-12">
                    <label>Email <span class="label-required"><span class="star-required">*</span></span>
                    </label>
                  </div>
                  <div class="col-sm-12">
                    <input type="email" class="form-control" name="email" ng-model="contactFormData.email" readonly>
                  </div>
                </div>
                <div class="label-required"><span class="star-required">*</span> Pole obowiązkowe</div>
              </div>
              <div class="col-sm-5 col-sm-offset-2">
                <div class="row form-group">
                  <div class="col-sm-12">
                    <label>Telefon <span class="label-required"><span class="star-required">*</span></span>
                    </label>
                  </div>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="phone" ng-model="contactFormData.phone" ng-pattern="/^\d+$/" required>
                    <!-- msg area -->
                    <div ng-messages="contactForm.phone.$error" class="msg-area" role="alert" ng-show="contactForm.phone.$dirty">
                      <div ng-message="required">Wymagane</div>
                      <div ng-message="pattern">Wymagane tylko cyfry</div>
                    </div>
                    <!-- /.msg area -->
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="button-group pull-right">
                  <button ng-click="resetContactForm()" type="button" class="btn btn-default">Anuluj</button>
                  <button ng-click="submitContactForm(contactFormData)" ng-disabled="contactForm.$invalid" type="submit" class="btn button-red">Wyślij</button>
                </div>
              </div>
            </form>
            <!-- msg-area -->
            <div class="fade-custom" ng-if="contactFormSubmitted">Formularz został wysłany</div>
            <!-- /.msg-area -->
          </div>
          <!-- Faq info -->
          <div class="info info-faq" ng-if="currentInfo == 'faq'">
            <h4 class="info-title">FAQ</h4>
            <ul>
              <li>
                <h5>Modem</h5>
                <ul>
                  <li>Parametryzacja modemu M/Platform nieudana – błąd klucza
                    <ul>
                      <li>Prosimy o kontakt na numer helpdesk M/Platform 22 290 70 10</li>
                    </ul>
                  </li>
                  <li>Parametryzacja modemu M/Platform nieprawidłowy parametr funkcji
                    <ul>
                      <li>Prosimy o kontakt na numer helpdesk M/Platform 22 290 70 10</li>
                    </ul>
                  </li>
                  <li>Nie można wejść w menu modemu M/Platform – lampka na modemie świeci na zielono
                    <ul>
                      <li>Proszę wykonać restart modemu. W tym celu należy odłączyć modem od zasilania, zaczekać aż wszystkie lampki sygnalizujące zgasną, odczekać 5 sekund i ponownie podłączyć zasilanie. W razie nierozwiązania problemu Prosimy o kontakt na numer helpdesk M/Platform 22 290 70 10
                      </li>
                    </ul>
                  </li>
                  <li>Nie można wejść w menu modemu M/Platform – miga pomarańczowa lampka na modemie
                    <ul>
                      <li>Proszę wykonać restart modemu. W tym celu należy odłączyć modem od zasilania, zaczekać aż wszystkie lampki sygnalizujące zgasną, odczekać 5 sekund i ponownie podłączyć zasilanie. W razie nierozwiązania problemu Prosimy o kontakt na numer helpdesk M/Platform 22 290 70 10</li>
                    </ul>
                  </li>
                  <li>Utrata zasilania w placówce
                    <ul>
                      <li>Utrata zasilania spowoduje wyłączenie się modemu. Usługi nie będą dostępne, dopóki modem nie zostanie podłączony do zasilania. Kasa będzie działała na aku</li>
                    </ul>
                  </li>
                  <li>Odłączenie modemu M/platform od kasy fiskalnej i PinPada.
                    <ul>
                      <li>W przypadku rozłączenia modemu, należy odłączyć modem od zasilania, podłączyć do niego kasę i PinPad. Na końcu ponownie podłączyć zasilanie do modemu.
                      </li>
                    </ul>
                  </li>
                  <li>Wyłączenie kasy przy nie wyłączonym modemie M/platform.
                    <ul>
                      <li>Do prawidłowego działa modemu M/platform ważne jest, aby w pierwszej kolejności włączana była kasa fiskalna, dopiero później modem M/platform. W przypadku włączanie modemu jako pierwszego przed kasą, niezbędny jest restart modemu.</li>
                    </ul>
                  </li>
                  <li>Aktywowana usługa nie jest dostępna
                    <ul>
                      <li>Proszę wykonać restart modemu z poziomu kasy. W tym celu wchodzimy w menu modemu M/Platform i wybieramy opcję restart. Jeżeli po restarcie usługa nadal nie jest dostępna, prosimy o kontakt na numer helpdesk M/Platform 22 290 70 10</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li>
                <h5>Usługi</h5>
                <ul>
                  <li>Drukuje się paragon na doładowanie eVoucher ale nie drukuje się kod doładowania. Na Paragonie widnieje informacja „Błąd doładowania – Product not found”
                    <ul>
                      <li>Podane doładowanie jest niedostępne dla danego operatora. Należy wybrać inną kwotę doładowania. Wydrukowany paragon dołączamy ewidencji zwrotów towarów i reklamacji oraz pomyłek na kasie fiskalnej. </li>
                    </ul>
                  </li>
                  <li>Drukuje się paragon na doładowanie eVoucher ale nie drukuje się kod doładowania.
                    <ul>
                      <li>
                        Należy wprowadzić w menu modemu M/Platform numer PLU dla kodu doładowania. W tym celu wchodzimy w menu modemu wybieramy usługę eVoucher, następnie opcję kod doładowania i wpisujemy numer pod którym doładowanie widnieje w bazie produktów na kasie fiskalnej.
                      </li>
                    </ul>
                  </li>
                  <li>Przy płatności alternatywnej ePay po użyciu karty płatniczej widnieje błąd „”Błąd transakcji”.
                    <ul>
                      <li>Błąd transakcji może być spowodowany błędnym pinem, brakiem środków na koncie klienta lub przeterminowaną kartą płatniczą. Jeżeli zostaną wykluczone wcześniejsze opcje najprawdopodobniej wystąpił błąd połączenia. W takim wypadku prosimy o kontakt na numer helpdesk M/Platform 22 290 70 10</li>
                    </ul>
                  </li>
                  <li>Przy płatności alternatywnej ePay po użyciu karty płatniczej odłączony zostaje PinPad
                    <ul>
                      <li>Transakcja zostanie anulowana. Po ponownym podłączeniu PinPad można ponownie dokonać transakcji kartą.</li>
                    </ul>
                  </li>
                  <li>Przy płatności alternatywnej BLIK po wprowadzeniu tokena widnieje błąd „Payment declined”.
                    <ul>
                      <li>Ponów próbę z użyciem nowego tokena. Jeżeli nowo wygenerowany token także nie działa, możliwe że klient nie ma środków na koncie. Jeżeli wykluczona zostanie opcja braku środków, najprawdopodobniej wystąpił błąd połączenia. W takim wypadku prosimy o kontakt na numer helpdesk M/Platform 22 290 70 10</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Docs info -->
          <div class="info info-docs" ng-if="currentInfo == 'docs'">
            <h4 class="info-title">Dokumenty</h4>
            <div ng-controller="DocsCtrl as docs" class="docs-table-container">
              <!-- preloader -->
              <div id="preloaderDocs" ng-show="docs.loading" class="preloader-justify fade-custom">
                <img class="wheel" src="/images/ajax_loader_gray_64.gif" alt="Preloader">
              </div>
              <!-- /.preloader -->
              <table class="table table-hover docs-table" ng-hide="docs.loading">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Typ</th>
                    <th>Data</th>
                    <th>Pobierz</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="doc in docs.docs">
                    <th scope="row">{{ $index + 1 }}</th>
                    <td>{{ doc.name }}</td>
                    <td>{{ doc.fileTypeName }}</td>
                    <td>{{ doc.creationDate | date }}</td>
                    <td>
                      <a ng-href="/api/files/{{ doc.id }}" type="button" class="download-link"><span class="glyphicon glyphicon-download-alt"></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- News info -->
          <div class="info info-docs" ng-if="currentInfo == 'news'">
            <h4 class="info-title">Aktualności</h4>
            <div ng-controller="NewsCtrl as news" class="news-table-container">
              <!-- preloader -->
              <div id="preloaderDocs" ng-show="news.loading" class="preloader-justify fade-custom">
                <img class="wheel" src="/images/ajax_loader_gray_64.gif" alt="Preloader">
              </div>
              <!-- /.preloader -->
              <table class="table table-hover news-table" style="width:100%; word-wrap:break-word; table-layout: fixed;" ng-hide="news.loading">
                <thead>
                  <tr>
                    <th style="width: 4%;">#</th>
                    <th style="width: 43%;">Title</th>
                    <th style="width: 43%;">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in news.news">
                    <th scope="row">{{ $index + 1 }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--  -->
          <span ng-click="hideInfo()" class="close-cross glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <!--  -->
    </div>
    <!-- /.Main -->
  </div>
  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers/main-ctrl.js"></script>
  <script src="/scripts/controllers/panel-ctrl.js"></script>
  <script src="/scripts/controllers/change-password-ctrl.js"></script>
  <script src="/scripts/controllers/contact-form-ctrl.js"></script>
  <script src="/scripts/controllers/edit-services-form-ctrl.js"></script>
  <script src="/scripts/controllers/docs-ctrl.js"></script>
  <script src="/scripts/controllers/news-ctrl.js"></script>
  <script src="/scripts/services/auth-service.js"></script>
  <script src="/scripts/services/rest-service.js"></script>
  <script src="/scripts/services/change-password-service.js"></script>
  <script src="/scripts/services/change-terminal-name-service.js"></script>
  <script src="/scripts/services/contact-form-service.js"></script>
  <script src="/scripts/services/edit-services-service.js"></script>
  <script src="/scripts/services/docs-service.js"></script>
  <script src="/scripts/services/news-service.js"></script>
  <script src="/scripts/services/news-service.js"></script>
  <script src="/scripts/directives/pw-capital-validator.js"></script>
  <script src="/scripts/directives/pw-length-validator.js"></script>
  <script src="/scripts/directives/pw-match-validator.js"></script>
  <script src="/scripts/directives/pw-number-validator.js"></script>
  <script src="/scripts/directives/pw-special-validator.js"></script>
  <!-- endbuild -->
</body>

</html>
